<!DOCTYPE html>
<html lang="ko" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>우리 동네 지도</title>
  <style>
    #search-input::-webkit-input-placeholder {
      text-align: center;
    }
    .modal {
      text-align: center;
    }
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 90%;
    }
    @media screen and (min-width: 768px) {
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
      .modal-dialog:before {
        width: 40%;
      }
    }

    #udgmap {
      height: 500px;
    }
    /* Optional: Makes the sample page fill the window. */
  </style>

  <!-- Bootsrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- angular js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <script src="https://use.fontawesome.com/6608b6cbc6.js"></script>
  
  <!-- css -->
  <link href="css/mycss.css" rel="stylesheet">

  <script>
    function ReadCookie() {
      var allcookies = document.cookie;
      console.log("모든쿠키값 : " + allcookies);
    }
    function getCookie(name) {
      var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return v ? v[2] : 'non-user';
    }
  </script>

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope, $http) {

      sign()

      $scope.signin = function () {
        var signin_info = {
          id: $("#form-id").val(),
          pw: $("#form-pw").val()
        }
        $http({
          method: 'POST',
          url: '/signin.do',
          timeout: 600000,
          data: signin_info,
        }).then(function successCallBack(response) {
          ReadCookie();
          sign()
        }), function errorCallback(error) {
        }
      }

      $scope.signout = function () {
        // alert('signout')
        var signout_info = {
          id: getCookie('id'),
          pw: getCookie('pw'),
          email: getCookie('email')
        }
        $http({
          method: 'POST',
          url: '/signout.do',
          timeout: 600000,
          data: signout_info,
        }).then(function successCallBack(response) {
          ReadCookie();
          sign();
          window.location.href ="/";
        }), function errorCallback(error) {
        }
      }

      function sign() {
        console.log("cookie id: " + getCookie('id'))
        if (getCookie('id') != 'non-user') { // 로그인 된 상태일 경우
          $('#signin-form').attr('class', 'btn p-0 dropdown');
          $('#signin-form').attr('data-toggle', 'dropdown');
          $('#signin-form').removeAttr('data-target');
          $('#signin-form').attr('aria-expanded', 'true');
        } else { // 로그인 안한 상태일 경우
          $('#signin-form').attr('class', 'btn p-0');
          $('#signin-form').attr('data-toggle', 'modal');
          $('#signin-form').attr('data-target', '#signinModal');
          $('#signin-form').removeAttr('aria-expanded');
        }
      }

      $scope.mapList;
    
      if (getCookie('id') != 'non-user') {
        $http({
          method: 'GET', // HTTP 통신 방법
          url: "/mymap.do", // 통신 할 URL
          timeout: 600000, // 1000 = 1초
          params: { // 보낼 변수
            id: getCookie('id')
          }
        }).then(function successCallBack(response) {
          console.log("Success: map load");
          $scope.mapList = response.data.result;
          m_maps = $scope.mapList;
          if (m_maps.length > 0) {
            initMap();
          } else {
            var newMap = {
              mapno: null,
              id: getCookie('id'),
              region: null,
              mapname: "새로운 지도",
              center: [126.979330, 37.531402],
              zoom: 11,
              visibility: false,
              cnt_follow: 0,
              markers: []
            };
    
            $scope.mapList.push(newMap);
            currMap = $scope.mapList.length-1;
    
            initMap();
          }
  
        }, function errorCallback(error) {
          console.log("Error" + error);
        });
      }

      // 지도 목록 삭제
      $scope.delMap = function (idx) {
        var del = confirm("지도를 삭제하시겠습니까?");
        if (del == true) {
          if (m_maps[idx]['mapno'] != null) { // 기존에 있던 지도라면 DB에서도 삭제
            $http({
              method: 'POST', // HTTP 통신 방법
              url: "/deletemapbyno.do", // 통신 할 URL
              timeout: 600000, // 1000 = 1초
              data: { // 보낼 데이터
                mapno: m_maps[idx]['mapno']
              }
            }).then(function successCallBack(response) {
              console.log("Success: delete map");
            }, function errorCallback(error) {
              console.log("Error" + error);
            });
          }
          $scope.mapList.splice(idx, 1); // mapList에서 idx에 해당하는 요소 삭제

          // 현재 보고있는 지도를 삭제할 경우 목록의 마지막 지도로 뷰 바꾸기
          if (currMap == idx) {
            currMap = m_maps.length - 1;
            initMap();
          }
        }
      };

      // 지도 목록 추가
      $scope.addMap = function () {
        var unsaved = true;
        var idx = [];
        for (i=0; i<$scope.mapList.length; i++) {
          if ($scope.mapList[i]['mapno'] == null) {
            idx.push(i);
          }
        }
        if (idx.length > 0) {
          unsaved = confirm("저장하지 않은 지도는 삭제됩니다. 계속 하시겠습니까?");
        }

        if (unsaved == true) {
          for (i=0; i<idx.length; i++) {
            $scope.mapList.splice(idx[i], 1); // mapList에서 idx에 해당하는 요소 삭제
          }

          var newMap = {
            mapno: null,
            id: getCookie('id'),
            region: null,
            mapname: "새로운 지도",
            center: [126.979330, 37.531402],
            zoom: 11,
            visibility: false,
            cnt_follow: 0,
            markers: []
          };
  
          $scope.mapList.push(newMap);
          currMap = $scope.mapList.length-1;
  
          initMap();
        }
      };

      // 지도 목록 클릭시 지도 뷰 바꾸기
      $scope.viewMap = function (idx) {
        currMap = idx;
        initMap();
      }

      // 지도 저장
      $scope.saveMap = function () {
        var region = $('#map_region').val();
        var mapname = $('#map_name').val();
        if (region == "") {
          alert("지역을 입력해주세요.")
          return;
        }

        if (mapname == "") {
          alert("지도의 제목을 입력해주세요.")
          return;
        }

        var save = confirm("지도를 저장하시겠습니까?");
        if (save == true) {
          googleToMongo() // 구글맵 마커를 몽고 마커 형식으로 변환

          if (m_maps[currMap]['mapno'] == null) { // 새로운 지도를 생성 후 저장할 경우
            $http({ // DB에 새로운 지도 저장
              method: 'POST', // HTTP 통신 방법
              url: "/addmap.do", // 통신 할 URL
              timeout: 600000, // 1000 = 1초
              data: { // 보낼 데이터
                newMap: m_map
              },
            }).then(function successCallBack(response) {
              console.log("Success: new map");
              $scope.mapList[currMap]['mapno'] = response.data.result;
              m_maps[currMap]['mapno'] = response.data.result;
            }, function errorCallback(error) {
              console.log("Error" + error);
            });
          } else { // 기존 지도 수정 후 저장할 경우
            $http({
              method: 'POST', // HTTP 통신 방법
              url: "/savemap.do", // 통신 할 URL
              timeout: 600000, // 1000 = 1초
              data: { // 보낼 데이터
                saveMap: m_map
              },
            }).then(function successCallBack(response) {
              console.log("Success: save map");
            }, function errorCallback(error) {
              console.log("Error" + error);
            });
          }
        }
      }
    
    });
  </script>

  <script>
    var m_maps = [];
    var m_map;
    var m_markers; // 몽고와 연동되는 마커
    var currMap = 0;

    var g_map; // 구글맵의 지도
    var g_markers; // 구글맵의 마커
    var visibility; // 구글맵의 공개여부

    var currMarker; // 현재 마커를 가리키는 인덱스
    var move;

    function initMap() {
      m_map = m_maps[currMap];
      m_markers = m_map['markers'];

      g_markers = [];
      visibility = m_map['visibility'];

      currMarker = -1;
      move = false;

      $('#map_region').val(m_map['region']); // 몽고 지도 지역 가져오기
      
      if (m_map['mapname'] == "새로운 지도") {
        $('#map_name').val("");
      } else {
        $('#map_name').val(m_map['mapname']); // 몽고 지도 제목 가져오기
      }

      if (visibility == false) { // 비공개
        $('#unlock').hide();
        $('#lock').show();
      } else { // 공개
        $('#lock').hide();
        $('#unlock').show();
      }

      m_center = { "lat": Number(m_map['center'][1]), "lng": Number(m_map['center'][0]) }
      // 구글맵 지도 생성
      g_map = new google.maps.Map(document.getElementById('udgmap'), {
        center: m_center, // 지도 중심 좌표
        zoom: m_map['zoom'] // 지도 배율. 숫자가 클 수록 확대됨
      });

      mongoToGoogle(); // 몽고 마커를 구글맵 마커에 추가하기
      
      // 지도 왼쪽 클릭 이벤트
      g_map.addListener('click', function (event) {
        // g_map.panTo(event.latLng); // 구글맵 중심 이동
        // console.log("location : " + event.latLng);
        document.getElementById('location').innerHTML = event.latLng;

        if (move == true) {
          moveMarker(event.latLng);
        } else {
          newMarker(event.latLng);
          move = true;
        }
      });

      var show = true;
      // 지도 오른쪽 클릭 이벤트
      g_map.addListener('rightclick', function (event) {
        // deleteAllMarker();
        if (show == true) {
          for (i in g_markers) {
            g_markers[i].description.close(); // 말풍선 닫기
          }
          setMapOnAll(g_map); // 구글맵 마커 그리기
          show = false;
        } else {
          for (i in g_markers) {
            g_markers[i].description.open(g_map, g_markers[i]); // 마커에 말풍선 붙이기
          }
          setMapOnAll(g_map); // 구글맵 마커 그리기
          show = true;
        }
      });
      
      g_map.panTo(m_center); // 구글맵 중심 이동
    }

    // 몽고 마커를 구글맵 마커에 추가하기
    function mongoToGoogle() {
      setMapOnAll(null); // 구글맵 마커 지우기
      g_markers = []; // 배열 초기화

      // 배열에 있는 값을 구글맵 마커 형식으로 변환
      for (i in m_markers) {
      // for (i=0; i<m_markers.length; i++) {
        lat = Number(m_markers[i]['lat'])
        lng = Number(m_markers[i]['lng'])

        var marker = new google.maps.Marker({
          position: { "lat": lat, "lng": lng },
          map: g_map,
          draggable: true,
          title: m_markers[i]['title'],
          icon: ' ',
          label: {
            fontFamily: "'Font Awesome 5 Free'",
            fontWeight: '900',
            fontSize: '28pt',
            text: eval("'\\u"+'f3c5'+"'"),
            color: 'OrangeRed',
          }
        });

        // 말풍선 생성
        marker.description = new google.maps.InfoWindow({
          content: m_markers[i]['desc']['content'],
          pixelOffset: new google.maps.Size(0,-10)
        });

        markerCommon(marker); // 마커 공통 메서드 
      }
      setMapOnAll(g_map); // 구글맵 마커 그리기
    }

    // 구글맵 마커 생성하기
    function newMarker(location) {
      setMapOnAll(null); // 구글맵 마커 지우기
      var len = g_markers.length

      // 현재 클릭한 위치를 저장하는 구글맵 마커 변수
      var marker = new google.maps.Marker({
        position: location,
        map: g_map,
        draggable: true,
        title: String(len + 1),
        icon: ' ',
        label: {
          fontFamily: "'Font Awesome 5 Free'",
          fontWeight: '900',
          fontSize: '28pt',
          text: eval("'\\u"+'f3c5'+"'"),
          color: 'dodgerblue',
        }
      });

      // 말풍선 생성
      marker.description = new google.maps.InfoWindow({
        content: "new",
        pixelOffset: new google.maps.Size(0,-10)
      });

      markerCommon(marker); // 마커 공통 메서드
      currMarker = g_markers.length-1;
      setMapOnAll(g_map); // 구글맵 마커 그리기
    }

    // 마커 이동
    function moveMarker(location) {
      setMapOnAll(null); // 구글맵 마커 지우기
      var len = g_markers.length;
      var marker = g_markers[len-1];

      marker['position'] = location;

      currMarker = g_markers.length-1;
      setMapOnAll(g_map); // 구글맵 마커 그리기
    }

    // 마커 전체 그리기
    function setMapOnAll(map) {
      for (i in g_markers) {

        if (i == currMarker) { // 현재 마커는 파란색
          g_markers[i].label.color = 'dodgerblue';
        } else { // 나머지 마커는 빨간색
          g_markers[i].label.color = 'OrangeRed';
        }

        g_markers[i].setMap(map); // 구글맵 마커 그리기
      }
    }

    // 마커 전체 삭제
    function deleteAllMarker() {
      setMapOnAll(null); // 구글맵 마커 지우기
      g_markers = []; // 배열 초기화
    }

    // 마커 한개 삭제
    function deleteMarker(marker) {
      setMapOnAll(null); // 구글맵 마커 지우기
      
      // 구글맵 마커 배열에서 삭제하기
      delIdx = marker.title;
      delete g_markers[delIdx - 1];
      for (var i = delIdx; i < g_markers.length; i++) {
        g_markers[i].title = String(Number(g_markers[i].title) - 1);
        g_markers[i - 1] = g_markers[i];
      }
      g_markers.pop();

      currMarker = -1;
      move = false;
      setMapOnAll(g_map); // 구글맵 마커 그리기
    }

    // 마커 설명 바꾸기
    function renameMarker(marker, desc) {
      
      marker.description.close(); // 말풍선 닫기
      marker.description = null; // 기존에 연결된 말풍선 지우기

      setMapOnAll(null);  // 구글맵 마커 지우기
      
      // 말풍선 새로 생성
      marker.description = new google.maps.InfoWindow({
        content: desc,
        pixelOffset: new google.maps.Size(0,-10)
      });

      marker.description.open(g_map, marker); // 마커에 말풍선 붙이기

      currMarker = -1;
      move = false;
      setMapOnAll(g_map); // 구글맵 마커 그리기
      // g_map.panTo(marker.position); // 구글맵 중심 이동
    }

    // 마커 공통 메서드
    function markerCommon(marker) {
      marker.description.open(g_map, marker); // 마커에 말풍선 붙이기

      // 마커 왼쪽 클릭 이벤트
      marker.addListener('click', function(event) {
        setMapOnAll(null); // 구글맵 마커 지우기
        
        currMarker = Number(marker.title)-1;
        $('#marker_desc').val(marker.description.content); // 마커 설명을 입력폼에 넣기

        // 설명 on
        marker.description.open(g_map, marker); // 마커에 말풍선 붙이기
        setMapOnAll(g_map); // 구글맵 마커 그리기
      });

      // 마커 오른쪽 클릭 이벤트
      marker.addListener('rightclick', function(event) {
      });

      g_markers.push(marker); // 구글맵 마커 배열에 넣기
    }

    /******************************/

    // 마커 등록
    function addMarker() {
      if (currMarker > -1) {
        var desc = $('#marker_desc').val();
        if (desc == "") {
          alert("장소에 대한 설명을 입력해주세요");
        } else {
          $('#marker_desc').val(""); // 입력 폼 초기화
          renameMarker(g_markers[currMarker], desc); // 마커 설명 수정
        }
      }
    }

    // 마커 등록 취소
    function delMarker() {
      if (currMarker > -1) {
        $('#marker_desc').val(""); // 입력 폼 초기화
        deleteMarker(g_markers[currMarker]);
      }
    }

    // 공개여부
    function lockUnlock() {
      if (visibility == false) { // 비공개 -> 공개
        visibility = true;
        $('#lock').hide();
        $('#unlock').show();
      } else { // 공개 -> 비공개
        visibility = false;
        $('#unlock').hide();
        $('#lock').show();
      }
    }
    
    // 구글맵 마커를 몽고 마커 형식으로 변환
    function googleToMongo() {
      m_markers = [];

      for (i in g_markers) {
        var title = g_markers[i]['title'];
        var lat = g_markers[i]['position'].lat();
        var lng = g_markers[i]['position'].lng();
        var desc = g_markers[i]['description']['content'];

        var marker = {
          'title': title,
          'lat': lat,
          'lng': lng,
          'desc': { 'content': desc }
        };

        m_markers.push(marker); // 몽고 마커 배열에 넣기
      }

      m_map['region'] = $('#map_region').val();
      m_map['mapname'] = $('#map_name').val();
      m_map['center'][1] = g_map['center'].lat();
      m_map['center'][0] = g_map['center'].lng();
      m_map['zoom'] = g_map['zoom'];
      m_map['visibility'] = visibility;
      m_map['markers'] = m_markers;

      m_maps[currMap] = m_map;
    }

    function regionSearch() {
      console.log($("#map_region").val());
      $.ajax({
        url: "https://maps.googleapis.com/maps/api/geocode/xml?key=AIzaSyALaiOdg7PNapbNpME1I4A0X_5SKiLJQSo&address=" + $("#map_region").val(),
        success: function (data) {
          var location = data.getElementsByTagName("location")[0];
          var new_lat = location.getElementsByTagName("lat")[0].textContent;
          var new_lng = location.getElementsByTagName("lng")[0].textContent;

          var new_center = { lat: parseFloat(new_lat), lng: parseFloat(new_lng) };
          console.log(new_center);
          g_map.panTo(new_center);
          g_map.setZoom(15);
        }
      });
    }
    

    /******************************/

    /*
    function print() {
      document.getElementById('curr').innerHTML = "currMap: " + currMap + ", currMarker: " + currMarker;

      document.getElementById('mongo').innerHTML = "center: (" + m_map['center'][1] + ", " + m_map['center'][0] + ")<br>";
      document.getElementById('mongo').innerHTML += "zoom: " + m_map['zoom'] + "<br>";
      document.getElementById('mongo').innerHTML += "마커 " + m_markers.length + "개<br>";
      document.getElementById('mongo').innerHTML += "공개여부:  " + m_map['visibility'] + "<br>";
      for (var i in m_markers) {
        document.getElementById('mongo').innerHTML += "[" + i + "] "
        document.getElementById('mongo').innerHTML += "title: " + m_markers[i]['title'] + ", "
        // document.getElementById('mongo').innerHTML += "(" + m_markers[i]['lat'] + ", " + m_markers[i]['lng'] + "), "
        document.getElementById('mongo').innerHTML += "desc: " + m_markers[i]['desc']['content'] + "<br>";
      }

      document.getElementById('google').innerHTML = "center: (" + g_map['center'].lat() + ", " + g_map['center'].lng() + ")<br>";
      document.getElementById('google').innerHTML += "zoom: " + g_map['zoom'] + "<br>";
      document.getElementById('google').innerHTML += "마커 " + g_markers.length + "개<br>";
      document.getElementById('google').innerHTML += "공개여부:  " + visibility + "<br>";
      for (var i in g_markers) {
        document.getElementById('google').innerHTML += "[" + i + "] "
        document.getElementById('google').innerHTML += "title: " + g_markers[i]['title'] + ", "
        // document.getElementById('google').innerHTML += "(" + g_markers[i]['position'].lat() + ", " + g_markers[i]['position'].lng() + "), "
        document.getElementById('google').innerHTML += "desc: " + g_markers[i]['description']['content'] + "<br>";
      }
    }
    */
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALaiOdg7PNapbNpME1I4A0X_5SKiLJQSo"
    async defer></script>

</head>

<body ng-controller="myCtrl">

  <div class="container-fluid p-0 m-0">
    <!-- header -->
    <div class="row d-flex justify-content-center py-3 m-0 border-bottom">
      <!-- home -->
      <div class="col-1 d-flex justify-content-end align-items-center">
        <a class="btn p-0" href="/mainpage.go">
          <i class="fas fa-home fa-lg" style="color: #555;"></i>
        </a>
      </div>

      <!-- search -->
      <div class="col-3 p-0">
        <div class="form-group d-flex align-items-center m-0">
          <span class="input-group-addon fas fa-search fa-sm"
            style="color:grey; position: relative; left:15px; z-index:1;">
          </span>
          <input type="text" class="form-control" id="search-input" placeholder="검색" aria-label="Search"
            spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
            aria-owns="algolia-autocomplete-listbox-0" dir="auto" value=""
            style="position: relative; right:7px; padding:3px 10px 3px 26px;">
        </div>
      </div>

      <!-- user -->
      <div class="col-1 d-flex justify-content-start align-items-center">
        <!-- signin -->
        <a id="signin-form" class="btn p-0" href="#" data-toggle="modal" data-target="#signinModal">
          <i class="fas fa-user-alt fa-lg" style="color: #555;"></i>
        </a>
        <ul class="dropdown-menu">
          <li class="px-3">
            <a href="/usermod.go">회원정보 수정</a>
          </li>
          <li class="px-3">
            <a href="/" ng-click="signout()">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid h-100 p-0 m-0 bg-light">
    <!-- menu -->
    <div class="row d-flex justify-content-center py-3 m-0">
      <div class="col-sm-6">
        <ul class="nav nav-justified">
          <li class="nav-item"><div id="Gotomain" class="text-black-50"><a href= "">전체 지도</a></div></li>
          <li class="nav-item"><div id="Gotomymap" class="text-black-50"><a href= "">나만의 지도</a></div></li>
          <li class="nav-item"><div id="Gotomyfollowmap" class="text-black-50"><a href= "">팔로우</a></div></li>
      </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid h-100 p-0 m-0 bg-light">
    <!-- my map -->
    <div class="row d-flex justify-content-center m-0">
      <div class="col-lg-10 mx-4">

        <div id="map-content" class="row d-flex justify-content-center">
          <!-- map-content -->
          <div class="col-sm-4">
            <div class="row mb-2 d-flex justify-content-between align-items-center">
              <div class="col-9">
                <h5 class="m-0">
                  내 지도 목록
                </h5>
              </div>
              <div class="col-1 text-right p-0 mr-3">
                <button class="btn btn-secondary p-0 m-0 circle" style="width: 32px; height: 32px; border-radius: 50%;" ng-click="addMap()">
                  <i class="fas fa-plus fa-xs" style="color: white; margin: 0 0 0 0;"></i>
                </button>
              </div>
            </div>

            <!-- map list -->
            <ul class="pl-4">
              <li ng-repeat="item in mapList">
                <a href="#" ng-click="viewMap($index)">{{item.region}} {{item.mapname}} ({{item.cnt_follow}})</a>
                  <i class="fas fa-lock fa-xs pl-1" style="color: #adb5bd;" ng-if="item.visibility == false"></i>
                  <i class="fas fa-trash fa-xs pl-1" style="color: #adb5bd;" ng-click="delMap($index)"></i>
              </li>
            </ul>
            
          </div>

          <!-- map view -->
          <div class="col-sm-8">
            <div class="container p-0">
              <div class="row">
                <div class="container">

                  <!-- map title -->
                  <form class="row form-group m-0">
                    <div class="col-md-4">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="지역" aria-label="지역" aria-describedby="button-addon"
                          id="map_region">
                        <div class="input-group-append">
                          <button class="btn btn-sm p-0" type="button" id="button-addon" style="background-color: #adb5bd;" onclick="regionSearch()">
                            <i class="fas fa-search fa-sm px-2" style="color: white;"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control mb-3" placeholder="지도 제목" id="map_name">
                    </div>
                  </form>

                    <!-- map -->
                    <div id="udgmap"></div>

                    <!-- marker desc -->
                    <div class="row pt-3">
                      <div class="col-md-8 col-12 pb-3">
                        <input type="text" class="form-control" placeholder="장소에 대한 설명" id="marker_desc">
                      </div>
                      <div class="col-md-4 col-12 pb-3">
                        <div class="row">
                          <div class="col-6 pr-1">
                            <div class="btn btn-secondary btn-block" id="marker_add" onclick="addMarker()">등록</div>
                          </div>
                          <div class="col-6 pl-1">
                            <button type="reset" class="btn btn-secondary btn-block" onclick="delMarker()">삭제</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- share & upload -->
                    <div class="row-fluid d-flex justify-content-end">
                      <i class="fas fa-lock fa-2x" id="lock" onclick="lockUnlock()" style="color:tomato;"></i>
                      <i class="fas fa-unlock fa-2x" id="unlock" onclick="lockUnlock()" style="color:ForestGreen; display:none;"></i>
                      <i class="fas fa-cloud-upload-alt fa-2x pl-4" id="save" ng-click="saveMap()" style="color:dodgerblue;"></i>
                    </div>

                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>

    <!--
    <div id="location">&nbsp;</div>
    <div id="curr">&nbsp;</div>
    <table cellpadding="10">
      <tr>
        <td>====몽고====</td>
        <td>====구글====</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <div id="mongo" ></div>
        </td>
        <td style="vertical-align:top;">
          <div id="google"></div>
        </td>
      </tr>
    </table>
    <div id="angular">{{mapList}}</div>
    -->
  

    <!-- modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header border-bottom-0 pb-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center">
                <h5 class="modal-title" id="signinModalLabel">우리 동네 지도</h5>
              </div>
              <div class="row d-flex justify-content-center">
                로그인
              </div>
            </div>
            <!-- close button -->
            <!-- <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
    
          <!-- modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label class="sr-only" for="form-username">id</label>
              <input type="text" name="form-username" placeholder="아이디" class="form-control bg-light border-0" id="form-id">
            </div>
            <div class="form-group m-0">
              <label class="sr-only" for="form-password">pw</label>
              <input type="password" name="form-password" placeholder="패스워드" class="form-control bg-light border-0"
                id="form-pw">
            </div>
          </div>
    
          <!-- modal footer -->
          <div class="modal-footer border-top-0 pt-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center pb-3">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"
                  ng-click="signin()">로그인</button>
              </div>
              <div class="row d-flex justify-content-center">
                <a href="#">아이디</a>&nbsp;<a href="#">비밀번호</a>&nbsp;찾기<br>
              </div>
              <div class="row d-flex justify-content-center">
                계정이 없으신가요?&nbsp;<a href="/signup.go">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <div class="container-fluid bg-light">
        <div class="row d-flex justify-content-center py-2 m-0">
          <p>&copy; 2019 UDG</p>
        </div>
      </div>
    </footer>
    <script>
      var id = getCookie('id');
      $("#Gotomain").click(function () {
        window.location.href = '/';
      });
      $('#Gotomymap').click(function () {
        if (id != "non-user") {
          window.location.href = '/mymap.go';
        } else {
          alert('로그인이 필요한 서비스입니다');
        }
      });
      $('#Gotomyfollowmap').click(function () {
        if (id != "non-user") {
          window.location.href = '/myfollowmap.go';
        } else {
          alert('로그인이 필요한 서비스입니다');
        }
      });
  </script>
</body>

</html>