<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>우리 동네 지도</title>
  <style>
    #udgmap {
      height: 500px;
    }

    /* Optional: Makes the sample page fill the window. */
  </style>

  <!-- Bootsrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- angular js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- css -->
  <link href="css/mycss.css" rel="stylesheet">

  <script>
    $.ajax({ url: "",
    success: function(data) {
      var aaa = data.getElementsByTagName("location")[0];
      // alert(aaa);
      console.log(aaa);
      console.log(aaa.getElementsByTagName("lat")[0].textContent);
      console.log(aaa.getElementsByTagName("lng")[0].textContent);
      alert((aaa.getElementsByTagName("lng")[0]));

     }});

    var m_map = // 몽고와 연동되는 지도
    {
      "c_id": "aa", 
      "center": { lat: 37.484780, lng: 127.016129 },
      "mapname": "서초구 맛집지도",
      "mks": [{ "title": "1", "lat": 37.48478, "lng": 127.0160, "desc": { "con": "no.1" } },
              { "title": "2", "lat": 37.48500, "lng": 127.0163, "desc": { "con": "no.2" } },
              { "title": "3", "lat": 37.48479, "lng": 127.0166, "desc": { "con": "no.3" } }]
    };
    var m_markers = m_map['mks']; // 몽고와 연동되는 마커

    var g_map; // 구글맵의 지도
    var g_markers = []; // 구글맵의 마커


    function initMap() {
      $('#map_name').val(m_map['mapname']); // 몽고 지도 제목 가져오기

      // 구글맵 지도 생성
      g_map = new google.maps.Map(document.getElementById('udgmap'), {
        center: m_map['center'], // 지도 중심 좌표
        zoom: 18 // 지도 배율. 숫자가 클 수록 확대됨
      });

      addMongoMarker(); // 몽고 마커를 구글맵 마커에 추가하기
      
      // 지도 왼쪽 클릭 이벤트
      g_map.addListener('click', function (event) {
        console.log("location : " + event.latLng);
        document.getElementById('curr').innerHTML = event.latLng;

        addMarker(event.latLng);
      });

      // 지도 오른쪽 클릭 이벤트
      g_map.addListener('rightclick', function (event) {
        // deleteAllMarker();
      });

      print();
    }



    // 구글맵 마커 추가하기
    function addMarker(location) {
      var len = g_markers.length

      // 현재 클릭한 위치를 저장하는 구글맵 마커 변수
      var marker = new google.maps.Marker({
        position: location,
        map: g_map,
        draggable: true,
        title: String(len + 1)
      });

      // 말풍선 생성
      marker.description = new google.maps.InfoWindow({
        content: "new"
      });

      markerCommon(marker); // 마커 공통 메서드
      
      g_map.panTo(location); // 구글맵 중심 이동
      print();
    }

    // 몽고 마커를 구글맵 마커에 추가하기
    function addMongoMarker() {
      g_markers = []; // 배열 초기화

      // 배열에 있는 값을 구글맵 마커 형식으로 변환
      for (i in m_markers) {
        var marker = new google.maps.Marker({
          position: { "lat": m_markers[i]['lat'], "lng": m_markers[i]['lng'] },
          map: g_map,
          draggable: true,
          title: m_markers[i]['title']
        });

        // 말풍선 생성
        marker.description = new google.maps.InfoWindow({
          content: m_markers[i]['desc']['con']
        });

        markerCommon(marker); // 마커 공통 메서드 
      }
    }

    // 마커 전체 그리기
    function setMapOnAll(map) {
      for (i in g_markers) {
        g_markers[i].setMap(map); // 구글맵 마커 그리기
      }
    }

    // 마커 전체 삭제
    function deleteAllMarker() {
      setMapOnAll(null); // 구글맵 마커 지우기
      g_markers = []; // 배열 초기화
      print();
    }

    // 마커 한개 삭제
    function deleteMarker(marker) {
      setMapOnAll(null); // 구글맵 마커 지우기
      
      // 구글맵 마커 배열에서 삭제하기
      delIdx = marker.title;
      delete g_markers[delIdx - 1];
      for (var i = delIdx; i < g_markers.length; i++) {
        g_markers[i].title = String(Number(g_markers[i].title) - 1);
        g_markers[i - 1] = g_markers[i];
      }
      g_markers.pop();

      setMapOnAll(g_map); // 구글맵 마커 그리기
      print();
    }

    // 마커 설명 바꾸기
    function renameMarker(marker, desc) {
      
      marker.description.close(); // 말풍선 닫기
      marker.description = null; // 기존에 연결된 말풍선 지우기

      setMapOnAll(null);  // 구글맵 마커 지우기
      
      // 말풍선 새로 생성
      marker.description = new google.maps.InfoWindow({
        content: desc
      });

      marker.description.open(g_map, marker); // 마커에 말풍선 붙이기

      setMapOnAll(g_map); // 구글맵 마커 그리기
      g_map.panTo(marker.position); // 구글맵 중심 이동
      print();
    }


    function markerCommon(marker) {
      marker.description.open(g_map, marker); // 마커에 말풍선 붙이기

      // 마커 왼쪽 클릭 이벤트
      marker.addListener('click', function(event) {
        var desc = prompt("장소에 대한 설명을 입력해주세요", marker.description.content);
        if (desc != null) {
          renameMarker(marker, desc);
        };

        $('#marker_desc').val(marker.description.content);
      });

      // 마커 오른쪽 클릭 이벤트
      marker.addListener('rightclick', function(event) {
        deleteMarker(marker);
      });

      g_markers.push(marker); // 구글맵 마커 배열에 넣기
    }


    function print() {
      document.getElementById('mongo').innerHTML = "마커 " + m_markers.length + "개<br>";
      for (var i in m_markers) {
        document.getElementById('mongo').innerHTML += "title: " + m_markers[i]['title'] + ", desc: " + m_markers[i]['desc']['con'] + "<br>";
      }

      document.getElementById('google').innerHTML = "마커 " + g_markers.length + "개<br>";
      for (var i in g_markers) {
        document.getElementById('google').innerHTML += "title: " + g_markers[i]['title'] + ", desc: " + g_markers[i]['description']['content'] + "<br>";
      }
    }
  </script>



  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALaiOdg7PNapbNpME1I4A0X_5SKiLJQSo&callback=initMap"
    async defer></script>
</head>

<body>

  <div class="container-fluid p-0 m-0">
    <!-- header -->
    <div class="row d-flex justify-content-center py-3 m-0 border-bottom">
      <!-- home -->
      <div class="col-1 d-flex justify-content-center align-items-center p-0">
        <a class="btn p-0" href="/mainpage.go">
          <i class="fas fa-home fa-lg" style="color: black;"></i>
        </a>
      </div>

      <!-- search -->
      <div class="col-3 p-0">
        <div class="form-group d-flex align-items-center m-0">
          <span class="input-group-addon fas fa-search fa-sm"
            style="color:grey; position: relative; left:15px; z-index:1;">
          </span>
          <input type="search" class="form-control" id="search-input" placeholder="검색" aria-label="Search"
            spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
            aria-owns="algolia-autocomplete-listbox-0" dir="auto"
            style="position: relative; right:7px; padding:3px 10px 3px 26px;">
        </div>
      </div>

      <!-- user -->
      <div class="col-1 d-flex justify-content-center align-items-center p-0">
        <a class="btn p-0" href="#" data-toggle="modal" data-target="#signinModal">
          <i class="fas fa-user-alt fa-lg"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="container-fluid h-100 p-0 m-0 bg-light">
    <!-- menu -->
    <div class="row d-flex justify-content-center py-3 m-0">
      <div class="col-sm-6">
        <ul class="nav nav-justified">
          <li class="nav-item"><a href="/" class="text-black-50">지도 검색</a></li>
          <li class="nav-item"><a href="/mymap.go" class="text-black-50">나만의 지도</a></li>
          <li class="nav-item"><a href="/myfollowmap.go" class="text-black-50">팔로우</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid h-100 p-0 m-0 bg-light">
    <!-- my map -->
    <div class="row d-flex justify-content-center m-0">
      <div class="col-lg-10 mx-4">

        <div class="row d-flex justify-content-center">
          <!--  -->
          <div class="col-sm-4">
            <div class="row mb-2 d-flex justify-content-between align-items-center">
              <div class="col-9">
                <h5 class="m-0">
                  내 지도 목록&nbsp;
                </h5>
              </div>
              <div class="col-1 text-right p-0 mr-3">
                <button class="btn btn-secondary p-0 m-0 circle" style="width: 32px; height: 32px; border-radius: 50%;">
                  <i class="fas fa-plus fa-xs" style="color: white; margin: 0 1px 1px 1;"></i>
                </button>
              </div>
            </div>

            <!-- map list -->
            <ul class="pl-4">
              <li>
                <a href="#">서초구 맛집지도</a> <i class="fas fa-trash fa-xs pl-1" style="color: #adb5bd;"></i>
              </li>
              <li>
                <a href="#">광진구 둘레길</a> <i class="fas fa-lock fa-xs pl-1" style="color: #adb5bd;"></i> <i class="fas fa-trash fa-xs pl-1" style="color: #adb5bd;"></i>
              </li>
              <li>
                <a href="#">강남구 핫플레이스</a> <i class="fas fa-lock fa-xs pl-1" style="color: #adb5bd;"></i> <i class="fas fa-trash fa-xs pl-1" style="color: #adb5bd;"></i>
              </li>
              <li>

                <!-- new map -->
                <form class="form-group">
                  <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" placeholder="새로운 지도" aria-label="새로운 지도" aria-describedby="button-addon">
                      <div class="input-group-append">
                        <button class="btn btn-sm p-0" type="button" id="button-addon" style="background-color: #adb5bd;">
                            <i class="fas fa-check fa-sm px-2" style="color: white;"></i>
                        </button>
                      </div>
                    </div>
                </form>
              </li>
            </ul>

          </div>

          <!-- map view -->
          <div class="col-sm-8">
            <div class="container p-0">
              <div class="row">
                <div class="container">

                  <form class="form-group m-0" ng-submit="addMarker()">
                    <!-- map title -->
                    <div class="row-fluid">
                      <input type="text" class="form-control mb-3" placeholder="지도 제목" ng-model="map.desc" id="map_name">
                    </div>

                    <!-- map -->
                    <div id="udgmap"></div>

                    <!-- marker desc -->
                    <div class="row pt-3">
                      <div class="col-md-8 col-12 pb-3">
                        <input type="text" class="form-control" placeholder="장소에 대한 설명" ng-model="map.desc"
                          id="marker_desc">
                      </div>
                      <div class="col-md-4 col-12 pb-3">
                        <div class="row">

                          <div class="col-6 pr-1">
                            <button type="submit" class="btn btn-primary btn-block" onclick="">추가</button>
                          </div>
                          <div class="col-6 pl-1">
                            <button type="reset" class="btn btn-primary btn-block">취소</button>
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- share & upload -->
                    <div class="row">
                      <div class="container-fluid text-right px-0">
                        <a href="#" class="col-1">
                          <i class="fas fa-share-alt fa-lg" style="color:grey;"></i>
                        </a>
                        <a href="#" class="col-1">
                          <i class="fas fa-cloud-upload-alt fa-lg" style="color:grey;"></i>
                        </a>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>

    <div id="curr">&nbsp;</div>
    <table cellpadding="10">
      <tr>
        <td>====몽고====</td>
        <td>====구글====</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <div id="mongo" ></div>
        </td>
        <td style="vertical-align:top;">
          <div id="google"></div>
        </td>
      </tr>
    </table>

    <!-- modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header border-bottom-0 pb-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center">
                <h5 class="modal-title" id="signinModalLabel">우리 동네 지도</h5>
              </div>
              <div class="row d-flex justify-content-center">
                로그인
              </div>
            </div>
            <!-- close button -->
            <!-- <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
          </div>

          <!-- modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label class="sr-only" for="form-username">id</label>
              <input type="text" name="form-username" placeholder="아이디" class="form-control bg-light border-0"
                id="form-id">
            </div>
            <div class="form-group m-0">
              <label class="sr-only" for="form-password">pw</label>
              <input type="password" name="form-password" placeholder="패스워드" class="form-control bg-light border-0"
                id="form-pw">
            </div>
          </div>

          <!-- modal footer -->
          <div class="modal-footer border-top-0 pt-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center pb-3">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">로그인</button>
              </div>
              <div class="row d-flex justify-content-center">
                <a href="#">비밀번호를 잊어버리셨나요?</a><br>
              </div>
              <div class="row d-flex justify-content-center">
                계정이 없으신가요?&nbsp;<a href="/signup.go">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <div class="container-fluid bg-light">
        <div class="row d-flex justify-content-center py-2 m-0">
          <p>&copy; 2019 UDG</p>
        </div>
      </div>
    </footer>

</body>

</html>