<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>우리 동네 지도</title>

  <!-- Bootsrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- angular js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- css -->
  <link href="css/mycss.css" rel="stylesheet">

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
      $scope.userList = [{
          id: 'yunki',
          pw: '1111',
          name: '조윤기',
          region: '연신내',
          email: 'aaa@aaa.com'
        },
        {
          id: 'sangjun1230',
          pw: '2222',
          name: '이상준',
          region: '장한평',
          email: 'bbb@bbb.com'
        },
        {
          id: 'nang',
          pw: '3333',
          name: '이낭경',
          region: '공덕',
          email: 'ccc@ccc.com'
        },
        {
          id: 'sungjun',
          pw: '4444',
          name: '조윤기',
          region: '서초구',
          email: 'ddd@ddd.com'
        },
        {
          id: 'park',
          pw: '5555',
          name: '박개벙',
          region: '어린이대공원',
          email: 'eee@eee.com'
        }
      ];

      $scope.remove = function (id) {
        if (!id) return;

        var idx = -1;
        for (var i = 0; i < $scope.userList.length; i++) {
          if ($scope.userList[i].id === id) {
            idx = i;
            break;
          }
        }

        if (idx === -1) return;
        $scope.userList.splice(idx, 1);
      }

      $scope.userForm = {};

      $scope.addUser = function () {
        var newUser = {
          id: $scope.userForm.id,
          pw: $scope.userForm.pw,
          name: $scope.userForm.name,
          region: $scope.userForm.region,
          email: $scope.userForm.email
        };

        $scope.userList.push(newUser);

      }
    });
  </script>
  <!--enter key event-->

  <script>
    $(document).keypress(function (event) {

      var keycode = (event.keyCode ? event.keyCode : event.which);

      if (keycode == '13') {

        alert('Enter key 누름');

      }

    });
  </script>
</head>

<body>

  <div class="container-fluid p-0 m-0">
    <!-- header -->
    <div class="row d-flex justify-content-center py-3 m-0 border-bottom">
      <!-- home -->
      <div class="col-1 d-flex justify-content-end align-items-center">
        <a class="btn p-0" href="/mainpage.go">
          <i class="fas fa-home fa-lg" style="color: #555;"></i>
        </a>
      </div>

      <!-- search -->
      <div class="col-3 p-0">
        <div class="form-group d-flex align-items-center m-0">
          <span class="input-group-addon fas fa-search fa-md"
            style="color:grey; position: relative; left:22px; z-index:1;">
          </span>
          <input type="search" class="form-control" id="search-input" placeholder="검색" aria-label="Search"
            spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
            aria-owns="algolia-autocomplete-listbox-0" dir="auto"
            style="position: relative; padding:3px 10px 3px 26px;">
          <!--onclick에 검색 쿼리 연결해야 함-->
          <button id="myBtn" class="btn btn-group-sm btn-outline-secondary" style="position: relative"
            onclick="javascript:alert('클릭 버튼')">search</button>
        </div>
      </div>

      <!-- userMod icon-->
      <div class="col-1 d-flex justify-content-start align-items-center">
        <a class="btn p-0" href="#" data-toggle="modal" data-target="#signinModal">
          <i class="fas fa-user-edit fa-lg" style="color: #555;"></i>
        </a>
        <!--login 후 icon dropdown-->
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          <span class="caret"><i class="fas fa-child" style="font-size: 1.5em; color: #555;"></i></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="../userMod.html">회원정보 수정</a></li>
          <li><a href="/" id="sign" onclick="logout();"> Log-out</a></li>
        </ul>
      </div>
    </div>
    <script>
      $('#sign').click(function () {
        var signout = confirm("로그아웃 하시겠습니까?");

        if (signout == true) {
          signout();
        }
      });
    </script>
    <div class="container-fluid h-100 p-0 m-0 bg-light">
      <!-- menu -->
      <div class="row d-flex justify-content-center py-3 m-0">
        <div class="col-sm-6">
          <ul class="nav nav-justified">
            <li class="nav-item"><a href="/" class="text-black-50">전체 지도</a></li>
            <li class="nav-item"><a href="/mymap.go" class="text-black-50">나만의 지도</a></li>
            <li class="nav-item"><a href="/myfollowmap.go" class="text-black-50">팔로우</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container-fluid h-100 p-0 m-0 bg-light">
      <!-- test -->
      <div class="row d-flex justify-content-center m-0">
        <div class="col-lg-10 mx-4">
          <div class="row d-flex justify-content-center">
            회원정보 수정
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <form class="form-group" ng-repeat="item in userList">
                <input type="text" class="form-control mb-2" ng-model="userForm.id" ng-readonly="true" value={{item.id}}
                  data-ng-show="$first">
                <input type="password" class="form-control mb-2" ng-model="userForm.pw" ng-readonly="true"
                  value={{item.pw}}>
                <input type="text" class="form-control mb-2" placeholder="수정 이름 작성" ng-model="userForm.name">
                <input type="text" class="form-control mb-2" placeholder="수정 이메일 작성" ng-model="userForm.email">

                <div class="row">
                  <div class="col-6 pr-2">
                    <button type="submit" id="user_mod" class="btn btn-primary btn-block">수정</button>
                  </div>
                  <div class="col-6 pl-2">
                    <button type="reset" class="btn btn-primary btn-block">취소</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('#user_mod').click(function () {
        var mod_check = confirm("회원정보를 수정하시겠습니까?");

        if (mod_check == true) {
          Save();
        }
      });
    </script>
    <!-- modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header border-bottom-0 pb-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center">
                <h5 class="modal-title" id="signinModalLabel">우리 동네 지도</h5>
              </div>
              <div class="row d-flex justify-content-center">
                로그인
              </div>
            </div>
          </div>

          <!-- modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label class="sr-only" for="form-username">id</label>
              <input type="text" name="form-username" placeholder="아이디" class="form-control bg-light border-0"
                id="form-id">
            </div>
            <div class="form-group m-0">
              <label class="sr-only" for="form-password">pw</label>
              <input type="password" name="form-password" placeholder="패스워드" class="form-control bg-light border-0"
                id="form-pw">
            </div>
          </div>

          <!-- modal footer -->
          <div class="modal-footer border-top-0 pt-0">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center pb-3">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">로그인</button>
              </div>
              <div class="row d-flex justify-content-center">
                <a href="#">비밀번호를 잊어버리셨나요?</a><br>
              </div>
              <div class="row d-flex justify-content-center">
                계정이 없으신가요?&nbsp;<a href="/signup.go">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <div class="container-fluid bg-light">
        <div class="row d-flex justify-content-center py-2 m-0">
          <p>&copy; 2019 UDG</p>
        </div>
      </div>
    </footer>

</body>

</html>