<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>우리 동네 지도</title>

    <!-- Bootsrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- css -->
  <link href="css/mycss.css" rel="stylesheet">

    <script>
        var app = angular.module("myApp", []);

        app.factory('userService', ['$resource', function($resource) {
            return $resource('/users/:userId', {}, {
                list: {
                    isArray: true
                },
                get: {
                    isArray: false
                }
            });
        }]);

        app.controller("myCtrl", ['$scope', 'userService', function ($scope, userService) {

            $scope.userList = [];
            
            userService.list(function (data) {
                $scope.userList = data;
            });

            $scope.remove = function (id) {
                if (!id) return;

                var idx = -1;
                for (var i = 0; i < $scope.userList.length; i++) {
                    if ($scope.userList[i].id === id) {
                        idx = i;
                        break;
                    }
                }

                if (idx === -1) return;
                $scope.userList.splice(idx, 1);
            }

            $scope.userForm = {};

            $scope.addUser = function () {
                var newUser = {
                    id: $scope.userForm.id,
                    pw: $scope.userForm.pw,
                    name: $scope.userForm.name,
                    region: $scope.userForm.region,
                    email: $scope.userForm.email
                };

                $scope.userList.push(newUser);

            }
        }]);
    </script>
</head>

<body>

    <div class="container-fluid p-0 m-0">
        <!-- header -->
        <div class="row d-flex justify-content-center py-3 m-0 border-bottom">
            <!-- home -->
            <div class="col-1 d-flex justify-content-end align-items-center">
            <a class="btn p-0" href="/mainpage.go">
                <i class="fas fa-home fa-lg" style="color: #555;"></i>
            </a>
            </div>

            <!-- search -->
            <div class="col-3 p-0">
            <div class="form-group d-flex align-items-center m-0">
                <span class="input-group-addon fas fa-search fa-sm"
                style="color:grey; position: relative; left:15px; z-index:1;">
                </span>
                <input type="search" class="form-control" id="search-input" placeholder="검색" aria-label="Search"
                spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
                aria-owns="algolia-autocomplete-listbox-0" dir="auto"
                style="position: relative; right:7px; padding:3px 10px 3px 26px;">
            </div>
            </div>

            <!-- user -->
            <div class="col-1 d-flex justify-content-start align-items-center">
            <a class="btn p-0" href="#" data-toggle="modal" data-target="#signinModal">
                <i class="fas fa-user-alt fa-lg" style="color: #555;"></i>
            </a>
            </div>
        </div>
    </div>


    <div class="container-fluid h-100 p-0 m-0 bg-light">
        <!-- menu -->
        <div class="row d-flex justify-content-center py-3 m-0">
            <div class="col-sm-6">
                <ul class="nav nav-justified">
                    <li class="nav-item"><a href="/" class="text-black-50">전체 지도</a></li>
                    <li class="nav-item"><a href="/mymap.go" class="text-black-50">나만의 지도</a></li>
                    <li class="nav-item"><a href="/myfollowmap.go" class="text-black-50">팔로우</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container-fluid h-100 p-0 m-0 bg-light">
        <!-- sign up -->
        <div class="row-fluid d-flex justify-content-center">
            <div ng-app="myApp" ng-controller="myCtrl">

                <p class="text-center">회원목록</p>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>id</th>
                            <th>name</th>
                            <th>pw</th>
                            <th>region</th>
                            <th>email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in userList">
                            <td>{{$index+1}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.pw}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.region}}</td>
                            <td>{{item.email}}</td>
                            <td><button type="button" class="btn btn-secondary"
                                    ng-click="remove(item.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header border-bottom-0 pb-0">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-center">
                            <h5 class="modal-title" id="signinModalLabel">우리 동네 지도</h5>
                        </div>
                        <div class="row d-flex justify-content-center">
                            로그인
                        </div>
                    </div>
                    <!-- close button -->
                    <!-- <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>

                <!-- modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="sr-only" for="form-username">id</label>
                        <input type="text" name="form-username" placeholder="아이디" class="form-control bg-light border-0"
                            id="form-id">
                    </div>
                    <div class="form-group m-0">
                        <label class="sr-only" for="form-password">pw</label>
                        <input type="password" name="form-password" placeholder="패스워드"
                            class="form-control bg-light border-0" id="form-pw">
                    </div>
                </div>

                <!-- modal footer -->
                <div class="modal-footer border-top-0 pt-0">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-center pb-3">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">로그인</button>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <a href="#">비밀번호를 잊어버리셨나요?</a><br>
                        </div>
                        <div class="row d-flex justify-content-center">
                            계정이 없으신가요?&nbsp;<a href="/signup.go">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="container-fluid bg-light">
            <div class="row d-flex justify-content-center py-2 m-0">
                <p>&copy; 2019 UDG</p>
            </div>
        </div>
    </footer>

</body>

</html>